.parallaxx2 {
    height:980px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/back.png)
}

.parallaxx2 div {
    padding-top: 350px;
    text-align: center;
}
.parallaxx2 h1 {
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    color:white;
    font-weight: 900;
}
.parallaxx2 p{
    color: white;
    font: 17 Arial;
    padding-bottom: 45px;
}
a.bottom {
    color: black;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 20px;
}

a.bottom:hover {
    background: gray;
    color: white;
    
}
.subconteudo {
   background-image: url(../img/subtit.png);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   height: 20vh;
   padding: 18%;

}

.box-subconteudo {
    width: 100%;
    padding: auto;
    position: relative;
   
}
.box-subconteudo h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
    letter-spacing: 6px;
    font-size: 36px;
    
}

html, body {
    margin: 0;
    text-align: left;
 }
 
 .page-container {
   padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: left;
    
 }
 
 .parallax { 
    background-attachment: fixed;     
    
 }
 
 .imgn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 
 .redentor {
    background-image:url(../img/redentor.png);
 }
 
 .petra {
    background-image: url(../img/petra.png);
 }
 
 .chichen {
    background-image: url(../img/chichen.png);
 }
 .muralha {
    background-image: url(../img/muralha.png);
 }
 
 .picchu {
    background-image: url(../img/picchu.png);
 }
 
 .coliseu {
    background-image: url(../img/coliseu.png);
 }
 
 .taj {
    background-image: url(../img/taj.png);
 }
 
 .stonehenge {
    background-image: url(../img/stonehenge.png);
 }

 .neuschwanstein {
    background-image: url(../img/neuschwanstein.png);
 }

 .piramide {
    background-image: url(../img/piramide.png);
 }
 
 .page-container h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    margin: 0 0 20px 0;
    color: #010101;
 }
 
 .page-container p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 18px;
    margin: auto;
    color: #060606;
    
 }
 
 .page-container p:not(:last-of-type) {
    margin-bottom: 24px;
 }